@using NAUIdeaHub.Models

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (authenticatedUser!=null)
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Authentication)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        }
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{

    User? authenticatedUser;

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<User>("AuthenticatedUser");
        authenticatedUser = result.Success ? result.Value : null;
    }

}