@page "/ideadescription/{id}"

@if (currentIdea != null)
{
    <MudGrid Spacing="2" Justify="Justify.Center" Style="width: 100%;">
        <MudItem sm="8">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6">@currentIdea.Name</MudText><br />
                    <MudText Typo="Typo.body2"><strong>Type: </strong>@currentIdea.Type</MudText>
                    <MudText Typo="Typo.body2">
                        <strong>Status: </strong><span>@(currentIdea.Closed ? "Closed" : "Open")</span>
                    </MudText>
                    <MudText Typo="Typo.body2"><strong>Description: </strong>@currentIdea.Description</MudText>
                    <MudText Typo="Typo.body2"><strong>Resolution: </strong>@currentIdea.Resolution</MudText>
                    <MudText Typo="Typo.body2"><strong>Submission Date: </strong>@currentIdea.DateTimeSubmitted.ToShortDateString()</MudText>
                </MudCardContent>
                <MudCardActions Class="justify-center">
                    @if (liked)
                    {
                        <MudButton Class="mt-4" Style="width: 125px; height: 40px; margin-right: 10px;" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="unLike">Remove like</MudButton>
                    }
                    else
                    {
                        <MudButton Class="mt-4" Style="width: 125px; height: 40px; margin-right: 10px;" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="like">Like</MudButton>
                    }

                    @if (favorited)
                    {
                        <MudButton Class="mt-4" Style="width: 160px; height: 40px; margin-right: 10px;" Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="unFavorite">Remove Favorite</MudButton>
                    }
                    else
                    {
                        <MudButton Class="mt-4" Style="width: 160px; height: 40px; margin-right: 10px;" Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="favorite">Favorite</MudButton>
                    }

                    @if (authenticatedUser.IsAdmin)
                    {
                        @if (!currentIdea.Closed)
                        {
                            <MudButton Class="mt-4" Style="width: 150px; height: 40px; margin-right: 10px;" Variant="Variant.Filled" Color="Color.Warning" DisableElevation="true" OnClick="editIdea">Edit/Close Idea</MudButton>

                        }
                        else
                        {
                            <MudButton Class="mt-4" Style="width: 150px; height: 40px; margin-right: 10px;" Variant="Variant.Filled" Color="Color.Warning" DisableElevation="true" OnClick="reopenIdea">Reopen Idea</MudButton>
                        }
                    }
                    

                    <MudButton Class="mt-4" Style="width: 180px; height: 40px;" Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="goBack">Return to Idea List</MudButton>
                </MudCardActions>
            </MudCard>

            <br/>
            <br/>

            <MudPaper Style="display: flex;" Elevation="0">
            <MudText Typo="Typo.h5">Comments</MudText>

            <MudButton Style="margin-left: 10px" Variant="Variant.Filled" Color="Color.Primary" OnClick="addComment">Add Comment</MudButton>
            </MudPaper>

            <br />

            @foreach( var i in IdeaNotes )
            {
                <MudCard>
                    <MudCardContent>
                        <MudText>@i.Description</MudText>
                        <MudText>@i.DateTime.ToShortDateString()</MudText>

                        @if(authenticatedUser.UserID == i.Author)
                        {
                            <MudText>Submitted by: You</MudText>
                        }
                        else
                        {
                            <MudText>Submitted by: @Users.FirstOrDefault(x => x.UserID == i.Author).FullName</MudText>
                        }

                    </MudCardContent>
                    <MudCardActions>
                        @if ((authenticatedUser != null && authenticatedUser.IsAdmin) 
                            || (authenticatedUser != null && authenticatedUser.UserID == i.Author))
                        {
                            <MudButton Variant="Variant.Filled" Style="margin-right: 10px;" Color="Color.Primary" OnClick="() => editComment(i.RequestNoteID, i.Description)">Edit Comment</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => removeComment(i.RequestNoteID)">Remove Comment</MudButton>

                        }
                    </MudCardActions>
                </MudCard>
                <br/>
            }
        </MudItem>
    </MudGrid>

    <MudOverlay @bind-Visible="updateVisible" DarkBackground="true" ZIndex="9999">
        <MudPaper Class="pa-4">
            @if(editIdeaVisible)
            {
                <MudForm @ref="editIdeaForm">
                    <MudText>Edit the variables below to change the form:</MudText>
                    <MudTextField T="string" Counter="100" MaxLength="100" Immediate="true" Label="Idea Name" @bind-Value="@oldIdeaName"
                                  @ref="newIdeaNameField" Required="true" RequiredError="Name Required" OnlyValidateIfDirty="true" AutoGrow />

                    <MudTextField T="string" Counter="100" MaxLength="100" Immediate="true" Label="Idea Type" @bind-Value="@oldIdeaType"
                                   @ref="newIdeaTypeField" Required="true" RequiredError="Type Required" OnlyValidateIfDirty="true" AutoGrow />

                    <MudTextField T="string" Counter="5000" MaxLength="5000" Immediate="true" Label="Idea Description" @bind-Value="@oldIdeaDescription"
                        @ref="newIdeaDescriptionField" Required="true" RequiredError="Description Required" OnlyValidateIfDirty="true" AutoGrow MaxLines="5" />

                    <MudTextField T="string" Counter="1000" MaxLength="1000" Immediate="true" Label="Idea URL" @bind-Value="@oldIdeaURL"
                        @ref="newIdeaURLField" Required="false" AutoGrow />

                    <br />


                </MudForm>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="updateIdeaConfirmation">Update Idea</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="close">Close Idea</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="cancelUpdate">Cancel</MudButton>
            }
            @if (closeIdeaVisible)
            {
                <MudForm @ref="closeIdeaForm">
                    <MudText>Please enter some resolution text</MudText>
                    <MudTextField T="string" Counter="5000" MaxLength="5000" Immediate="true" Label="Resolution"
                        @ref="resolutionField" Required="true" RequiredError="Resolution Required" OnlyValidateIfDirty="true" AutoGrow MaxLines="5" />

                    <br />

                </MudForm>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="closeIdea">Confirm Closure</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="cancelClosure">Cancel</MudButton>
            }
            @if (addCommentVisible)
            {
                <MudForm @ref="addCommentForm">
                    <MudText>Enter Comment</MudText>
                    <MudTextField T="string" Counter="1000" MaxLength="1000" Immediate="true" Label="Comment"
                        @ref="commentField" Required="true" RequiredError="Comment Required" OnlyValidateIfDirty="true" AutoGrow MaxLines="5" />

                    <br />


                </MudForm>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="submitComment">Submit Comment</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="cancelUpdate">Cancel</MudButton>
            }
            @if (editCommentVisible)
            {
                <MudForm @ref="editCommentForm">
                    <MudText>Please enter the new comment</MudText>
                    <MudTextField T="string" Counter="1000" MaxLength="1000" Immediate="true" Label="New comment" @bind-Value="oldComment"
                        @ref="newCommentField" Required="true" RequiredError="Comment Required" OnlyValidateIfDirty="true" AutoGrow MaxLines="5" />

                    <br />

                </MudForm>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="editCommentConfirmation">Update Comment</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="cancelUpdate">Cancel</MudButton>
            }
        </MudPaper>
    </MudOverlay>

    <MudOverlay @bind-Visible="editCommentConfirmationVisible" DarkBackground="true" ZIndex="9999">
        <MudPaper Class="pa-4">
            <MudForm @ref="editCommentForm">
                <MudText>Are you sure you want to update this comment to:</MudText>
                <MudTextField T="string" @bind-Value="oldComment" ReadOnly="true" AutoGrow MaxLines="5" />

                <br />

            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="updateComment">Yes</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="cancelNewComment">No</MudButton>
        </MudPaper>
    </MudOverlay>

    <MudOverlay @bind-Visible="editIdeaConfirmationVisible" DarkBackground="true" ZIndex="9999">
        <MudPaper Class="pa-4">
            <MudForm @ref="editIdeaForm">
                <MudText>Are you sure you want to update this idea to:</MudText>
                <MudTextField T="string" @bind-Value="newIdeaNameField.Value" ReadOnly="true" AutoGrow />
                 <MudTextField T="string" @bind-Value="newIdeaTypeField.Value" ReadOnly="true" AutoGrow />
                <MudTextField T="string" @bind-Value="newIdeaDescriptionField.Value" ReadOnly="true" AutoGrow MaxLines="3" />
                 <MudTextField T="string" @bind-Value="newIdeaURLField.Value" ReadOnly="true" AutoGrow />

                <br />

            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="updateIdea">Yes</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="cancelIdeaUpdate">No</MudButton>
        </MudPaper>
    </MudOverlay>

    <MudOverlay @bind-Visible="reopenIdeaConfirmationVisible" DarkBackground="true" ZIndex="9999">
        <MudPaper Class="pa-4">
            <MudForm>
                <MudText>
                    Are you sure you want to reopen this idea? 
                    
                    <br />

                    This will remove the resolution text.
                </MudText>

                <br />

            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="reopenIdeaConfirmation">Yes</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="cancelReopenIdea">No</MudButton>
        </MudPaper>
    </MudOverlay>

}

@code {

    private bool updateVisible = false;
    // This object relates to the edit idea, close idea, add comment, and edit comment sections


    // Objects for Editing an Idea
    private bool editIdeaVisible = false;
    private bool editIdeaConfirmationVisible = false;
    private MudForm? editIdeaForm;
    private MudTextField<string> newIdeaNameField;
    private MudTextField<string> newIdeaTypeField;
    private MudTextField<string> newIdeaDescriptionField;
    private MudTextField<string> newIdeaURLField;
    private string oldIdeaName = "";
    private string oldIdeaType = "";
    private string oldIdeaDescription = "";
    private string oldIdeaURL = "";


    // Objects for Closing an Idea
    private bool closeIdeaVisible = false;
    private MudForm? closeIdeaForm;
    private MudTextField<string> resolutionField;


    // Objects for Reopening Ideas
    private bool reopenIdeaConfirmationVisible = false;


    // Objects for Adding Comments
    private bool addCommentVisible = false;
    private MudTextField<string> commentField;
    private MudForm? addCommentForm;


    // Objects for Editing Comments
    private bool editCommentVisible = false;
    private bool editCommentConfirmationVisible = false;
    private MudForm? editCommentForm;
    private MudTextField<string> newCommentField;
    private string oldComment = "";
    private int oldCommentID = 0;
}
