@page "/idealist"

<MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary">
    <MudTabPanel Text="Your Ideas">
        
        <MudGrid Style="width: 100%;">
            @if (YourIdeas != null && authenticatedUser != null)
            {

                @foreach (var x in YourIdeas)
                {
                    <MudItem sm="6">
                        <MudCard>
                            <MudCardContent>
                                <MudText><strong>@x.Name</strong></MudText><br />
                                <MudText Typo="Typo.body2"><strong>Type: </strong>@x.Type</MudText>
                                <MudText Typo="Typo.body2">
                                    <strong>Status: </strong><span>@(x.Closed ? "Closed" : "Open")</span>
                                </MudText>
                                <MudText Typo="Typo.body2"><strong>Description: </strong>@x.Description</MudText>
                                <MudText Typo="Typo.body2"><strong>Resolution: </strong>@x.Resolution</MudText>
                                <MudText Typo="Typo.body2"><strong>Submission Date: </strong>@x.DateTimeSubmitted</MudText>
                                <MudText Typo="Typo.body2"><strong>Opened by: </strong>
                                @Users.FirstOrDefault(y => y.UserID == x.Requestor)?.FullName    
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => learnMore(x.RequestID)">Learn More</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                    

                }
            }
        </MudGrid>

    </MudTabPanel>
    
    <MudTabPanel Text="All Ideas">
        <MudGrid Style="width: 100%;">
            <MudItem xs="6">
                <MudText Class="ml-4 mt-4"><strong>Search:</strong></MudText>
                <MudTextField Class="ml-4" ShrinkLabel @bind-Value="searchValue" Placeholder="Enter name or description" Variant="Variant.Text"></MudTextField>
                <MudButton Class="mt-4 ml-4" Variant="Variant.Filled" Color="Color.Info" DisableElevation="true" OnClick="SearchIdeas">Search</MudButton>
            </MudItem>
        
            <MudItem xs="6">
                <MudText Class="mt-4"><strong>Filter By Date:</strong></MudText>
                <MudDatePicker Class="mr-4" Label="Start Date" Editable="true" @bind-Date="startDate" Placeholder="Select Date" DisableToolbar="true" />
                <MudDatePicker Class="mr-4" Label="End Date" Editable="true" @bind-Date="endDate" Placeholder="Select Date" DisableToolbar="true" />
                <MudButton Class="mt-4 mr-4" Variant="Variant.Filled" Color="Color.Info" DisableElevation="true" OnClick="FilterByDate">Filter</MudButton>
            </MudItem>
        </MudGrid>

        <MudGrid Style="width: 100%;">
        @if(Ideas!=null){
            
           @foreach(var x in sortedIdeas)
           {
               <MudItem sm="6">
                   <MudCard>
                       <MudCardContent>
                               <MudText><strong>@x.Name</strong></MudText><br />
                               <MudText Typo="Typo.body2"><strong>Type: </strong>@x.Type</MudText>
                               <MudText Typo="Typo.body2">
                                   <strong>Status: </strong><span>@(x.Closed ? "Closed" : "Open")</span>
                               </MudText>
                               <MudText Typo="Typo.body2"><strong>Description: </strong>@x.Description</MudText>
                               <MudText Typo="Typo.body2"><strong>Resolution: </strong>@x.Resolution</MudText>
                               <MudText Typo="Typo.body2"><strong>Submission Date: </strong>@x.DateTimeSubmitted</MudText>
                               <MudText Typo="Typo.body2"><strong>Opened by: </strong>
                               @Users.FirstOrDefault(y => y.UserID == x.Requestor)?.FullName
                                       </MudText>
                       </MudCardContent>
                       <MudCardActions>
                                       <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => learnMore(x.RequestID)">Learn More</MudButton>
                       </MudCardActions>
                   </MudCard>
                </MudItem>
            
           }
           }    
        </MudGrid>
    </MudTabPanel>
        
    <MudTabPanel Text="Completed Ideas">

        <MudGrid Style="width: 100%;">
            @if (CompletedIdeas != null)
            {

                @foreach (var x in CompletedIdeas)
                {
                    <MudItem sm="6">
                        <MudCard>
                            <MudCardContent>
                                <MudText><strong>@x.Name</strong></MudText><br />
                                <MudText Typo="Typo.body2"><strong>Type: </strong>@x.Type</MudText>
                                <MudText Typo="Typo.body2">
                                    <strong>Status: </strong><span>@(x.Closed ? "Closed" : "Open")</span>
                                </MudText>
                                <MudText Typo="Typo.body2"><strong>Description: </strong>@x.Description</MudText>
                                <MudText Typo="Typo.body2"><strong>Resolution: </strong>@x.Resolution</MudText>
                                <MudText Typo="Typo.body2"><strong>Submission Date: </strong>@x.DateTimeSubmitted</MudText>
                                <MudText Typo="Typo.body2"><strong>Opened by: </strong>
                                @Users.FirstOrDefault(y => y.UserID == x.Requestor)?.FullName
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => learnMore(x.RequestID)">Learn More</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>

                }
            }
        </MudGrid>

    </MudTabPanel>    

    <MudTabPanel Text="Up Voted Ideas">

        <MudGrid Style="width: 100%;">
            @if (upVotedIdeas != null && authenticatedUser != null)
            {

                @foreach (var x in upVotedIdeas)
                {
                    <MudItem sm="6">
                        <MudCard>
                            <MudCardContent>
                                <MudText><strong>@x.Name</strong></MudText><br />
                                <MudText Typo="Typo.body2"><strong>Type: </strong>@x.Type</MudText>
                                <MudText Typo="Typo.body2">
                                    <strong>Status: </strong><span>@(x.Closed ? "Closed" : "Open")</span>
                                </MudText>
                                <MudText Typo="Typo.body2"><strong>Description: </strong>@x.Description</MudText>
                                <MudText Typo="Typo.body2"><strong>Resolution: </strong>@x.Resolution</MudText>
                                <MudText Typo="Typo.body2"><strong>Submission Date: </strong>@x.DateTimeSubmitted</MudText>
                                <MudText Typo="Typo.body2">
                                    <strong>Opened by: </strong>
                                    @Users.FirstOrDefault(y => y.UserID == x.Requestor)?.FullName
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => learnMore(x.RequestID)">Learn More</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>


                }
            }
        </MudGrid>

    </MudTabPanel>

     <MudTabPanel Text="Favorited Ideas">

        <MudGrid Style="width: 100%;">
            @if (favoritedIdeas != null && authenticatedUser != null)
            {

                @foreach (var x in favoritedIdeas)
                {
                    <MudItem sm="6">
                        <MudCard>
                            <MudCardContent>
                                <MudText><strong>@x.Name</strong></MudText><br />
                                <MudText Typo="Typo.body2"><strong>Type: </strong>@x.Type</MudText>
                                <MudText Typo="Typo.body2">
                                    <strong>Status: </strong><span>@(x.Closed ? "Closed" : "Open")</span>
                                </MudText>
                                <MudText Typo="Typo.body2"><strong>Description: </strong>@x.Description</MudText>
                                <MudText Typo="Typo.body2"><strong>Resolution: </strong>@x.Resolution</MudText>
                                <MudText Typo="Typo.body2"><strong>Submission Date: </strong>@x.DateTimeSubmitted</MudText>
                                <MudText Typo="Typo.body2">
                                    <strong>Opened by: </strong>
                                    @Users.FirstOrDefault(y => y.UserID == x.Requestor)?.FullName
                                </MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => learnMore(x.RequestID)">Learn More</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>


                }
            }
        </MudGrid>

    </MudTabPanel>
    
</MudTabs>


@code {
    DateTime? startDate;
    DateTime? endDate; // may need to set to null
    public string searchValue = null;
}
